body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #286047;
}

canvas {
    display: block;
    margin: 0 auto;

}

.controls {
    text-align: center;

    left: 50.4%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 20px;
    display: flex;
    gap: 20px;
}